html{
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  body {
    font-family: 'Itim', cursive;
    font-size: 20px;
    letter-spacing: 0.04rem;
    color: #222222;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  footer{
    text-align: center;
    background-color: #00b3ff;
    color: #fff;
    padding: 20px 0;
  }
  
  a {
    text-decoration: none;
    color: #00b3ff;
  }
  a:hover{
    cursor: pointer;
    opacity: 0.5;
  }
  
  li {
    list-style: none;
  }
  
  img {
    vertical-align: bottom;
  }
  
  .section-title {
    font-size: 40px;
    color: #00b3ff;
    font-weight: bold;
    text-align: center;
  }
  
  .section-subtitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;

  }
  section{
    text-align: center;
    margin-bottom: 60px;
  }


  /***ヘッダー***/
.header{
    position: fixed;
    z-index: 999;
    padding: 15px 0;
    width: 100%;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    
}
.nav{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-weight: bold;
}
.header-li{
    display: inline-block;
    padding: 0 20px;
}
.header-li:last-child{
    margin-right: 40px;
}
.header-home{
    display: inline-block;
    padding:0 40px;
}

/*** メイン ***/
.about,.skills,.works{
  padding-top: 60px;
  margin-top: -60px;
}

/* タイトル */
.title-text{
  background: linear-gradient(transparent 50%, #fff 0%);
}
.fade-in-text{
  position: absolute;
  top: 100px;
  left: 10%;
  font-size: 40px;
  text-align: left;
  color: #020202;
  -webkit-text-stroke: #fff;
  animation:fadein-from-bottom 1.5s forwards;
  
}
@keyframes fadein-from-bottom {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  to{
    opacity: 1;
    transform: translateY(50%);
  }
  
}

.loop{
  background-image: url("img/sushi.png");
  width: 100%;
  height: 600px;
  margin-bottom: 60px;
  z-index: -999;
  opacity: 0.5;
  background-repeat: repeat;
  animation-name: img-loop;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-position: absolute;
}
@keyframes img-loop {
  from{
      background-position: 0 0;
  }
  to{
      background-position: -400px 400px;
  }
  
}

.about-icon{
  width: 100px;
  margin-bottom: 40px;
}
.skills-inner{
  margin-bottom: 60px;
}
.works-inner{
  display: flex;
  overflow-x: scroll;
}
.works-parts{
  margin: 0 10px 10px;

}
.works-img{
  width: 400px;
}

.modal-open, .modal-close{
  padding: 3px 10px;
  background-color:#00b3ff;
  color: #fff;
  font-family: bold;
  border:none;
  border-radius: 5px;
}
.modal-content{
  display: none;
}
.modal{
  position: fixed;
  max-height: 70%;
  overflow-y: auto;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #222222;
}
.modal-img{
  width: 60%;
}
.modal-img-background{
  background-color: #c4edff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-text{
  padding: 5% 10%;
}
.modal h2{
  font-size: 20px;
  color: #00b3ff;
}
.modal p{
  font-size: 10px;
}


/*スマホ対応 */
@media (max-width: 450px) {
  body{
    font-size: 10px;
    width: 100%;
  }
  .header{
    display: none;
  }
  .fade-in-text{
    top: 60px;
    font-size: 25px;
  }
  .loop{
    height: 400px;
  }
  .works-img{
    width: 250px;
  }
  .sushi-img{
    width: 300px;
  }
}
